*{padding: 0px;
    margin: 0px;
}
.mainwrapper{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
}
.wrapper{
    display:flex;
    flex-direction: column;
    margin-right: 20px;
    flex: 8;
    align-items: center;
    justify-content: center;
}
.wrapper-1{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}
.comment1{
    background-color: blueviolet;
    border-radius: 15px;
}
.comment2{
    background-color: #444444 ;
    border-radius: 15px;
}
.comment3{
    background-color: #e6e6e6;
    border-radius: 15px;
}
.comment4{
    background-color: #111111;
    border-radius: 15px;
}
.comment5{
    background-color: #ffffff;
    border-radius: 15px;
    flex:1;
}
.profile{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}
.profile img {
    clip-path: ellipse();
    margin-right: 10px;
    width: 60px;
    height: 60px;
}
.profile-name{
    margin-left: 20px;
    margin-right: 20px;
}
.profile-name p{
 font-size: 25px;
 color: white;
 margin-bottom: 10px;
}
.comment5 .profile-name p{
    color:black;
}
.profile-text{
    margin: 20px;
}
.profile-text h2{
    color: white;
    font-size: 25px;
    margin-bottom: 20px;
}
.profile-text p{
    color: white;
    font-size: 20px;
}
@media screen and (max-width: 600px){
    .mainwrapper{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        align-items: center;
        justify-content: center;
    }
    .wrapper{
        display:flex;
        flex-direction: column;
        margin-right: 20px;
        flex: 8;
        align-items: center;
        justify-content: center;
    }
    .wrapper-1{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        align-items: center;
        justify-content: center;
    }
}
